@media (min-width: 768) {

    .card {
    
      overflow: hidden;
    
    }
    
    .row.text-over-image {
    
      width: 200%;
    
    }
    
    .text {
    
      transform: translateX(-100%);
    
    }
    
    .image a {
    
      height: 100%;
    
    }
    
    img {
    
      height: 100%;
    
      width: 100%;
    
      object-fit: cover;
    
    }
    
    }